<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.24.0.0" newVersion="6.24.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.47.2.0" newVersion="4.47.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<connectionStrings>
		<add name="connection" connectionString="Server=DESKTOP-I7KQEPF\SQLEXPRESS01;Database=Lab1v2;Integrated Security=true;TrustServerCertificate=true;"/>
	</connectionStrings>
	
		
	<appSettings>
		<add key="selectParent" value="SELECT * FROM Luptatori"/>
		<add key="selectChild" value="SELECT * FROM  Meciuri where cod_l1=@id"/>
		<add key="parentTableName" value="Luptatori"/>
		<add key="childTableName" value="Meciuri"/>
		<add key="childNumberOfColumns" value="3"/>
		<add key="childLabelNames" value="CodMeci,CodLuptator1,CodLuptator2"/>
		<add key="childTextBoxContent" value="cod_meci,cod_l1,cod_l2"/>
		<add key="columnNamesInsertParameters" value="@cod_meci,@cod_l1,@cod_l2"/>
		<add key="deleteChild" value="DELETE FROM Meciuri where cod_meci=@id"/>
		<add key="updateChild" value="Update Meciuri set cod_l1=@cod_l1,cod_l2=@cod_l2 where cod_meci=@id"/> 
	</appSettings>
	
	<!--
	<appSettings>
		<add key="selectParent" value="SELECT * FROM SalaDeProvenienta"/>
		<add key="selectChild" value="SELECT * FROM  Luptatori where cod_sala=@id"/>
		<add key="parentTableName" value="SalaDeProvenienta"/>
		<add key="childTableName" value="Luptatori"/>
		<add key="childNumberOfColumns" value="7"/>
		<add key="childLabelNames" value="CodLuptator,NumeLuptator,DescriereLuptator,CodCategorie,CodStyle,CodSala,CodMan"/>
		<add key="childTextBoxContent" value="cod_l,nume_l,descriere_l,cod_cat,cod_style,cod_sala,cod_man"/>
		<add key="columnNamesInsertParameters" value="@cod_l,@nume_l,@desc_l,@cod_cat,@cod_style,@cod_sala,@cod_man"/>
		<add key="deleteChild" value="DELETE FROM Luptatori where cod_l=@id"/>
		<add key="updateChild" value="Update Luptatori set nume_l=@nume_l,descriere_l=@desc_l,cod_cat=@cod_cat,cod_style=@cod_style,cod_sala=@cod_sala,cod_man=@cod_man where cod_l=@id"/> 
	</appSettings>
	-->
    
	
</configuration>